#root {
    height: 100%;
}

.ant-layout-base {
    position: relative;
    height: 100%;
}

.ant-layout-main-base {
    transition: all 0.3s ease;
    overflow: auto;
    height: 100%;
}

.ant-layout-main {
    position: relative;
    margin-left: 224px;
    transition: all 0.3s ease;
    overflow: auto;
    height: 100%;
}

.ant-layout-main-collapse {
    position: relative;
    margin-left: 64px;
    transition: all 0.3s ease;
    overflow: auto;
    height: 100%;
}

.ant-layout-container {
    position: relative;
    height: 100%;
    margin: 24px 16px;
    background: #fff;
    padding: 24px;
}

.ant-layout-tab {
    margin: 8px 8px;
    background: #fff;
    position: relative;
    height: 100%;
}

.ant-layout-tab-text {
    font-size: 12px;
    position: relative;
    height: 100%;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    margin-top: -1px;
    width: 2px;
    margin-left: -1px;
}
